{% load static %}
<footer class="py-2 pt-3 mt-5" style="background-color: #333;">
    <div class="container-fluid text-white">
        <div class="row justify-content-center">

            <div class="col-lg-2">
                <h5 class="text-uppercase fw-bold " style="color: #DAA520;">Quem somos?</h5>
                <p style="color: #f5f5dc;">Somos um grupo dedicado a facilitar o acesso a livros de vestibular, para ajudar os estudantes a alcançarem seus objetivos acadêmicos.</p>
            </div>

            <div class="col-lg-4">
                <h5 class="text-uppercase fw-bold" style="color: #DAA520;">Nosso objetivo</h5>
                <p style="color: #f5f5dc;">Nosso objetivo é facilitar o acesso a livros de vestibular através de uma plataforma prática e acessível, ajudando os estudantes a se prepararem de forma eficaz e alcançarem seus sonhos acadêmicos.</p>
            </div>

            <div class="col-lg-2">
                <h5 class="text-uppercase fw-bold" style="color: #DAA520;">Redes sociais</h5>
                <p class="mb-2" style="color: #DAA520;">
                    <i class="fa-brands fa-instagram me-1"></i>
                    <a href="#" class="text-white" style="text-decoration:none; color: #f5f5dc;">Instagram</a>
                </p>
                <p class="mb-2" style="color: #DAA520;">
                    <i class="fa-brands fa-spotify me-1"></i>
                    <a href="#" class="text-white" style="text-decoration:none; color: #f5f5dc;">Spotify</a>
                </p>
                <p class="mb-2" style="color: #DAA520;">
                    <i class="fa-brands fa-youtube me-1"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">YouTube</a>
                </p>
            </div>

        </div>
    </div>
</footer>