{% extends 'login/base.html' %}

{% load widget_tweaks %}

{% block title %} Recuperar senha {% endblock %}

{% block content %}

        <div class="card col-sm-10 col-lg-8 my-5 p-sm-0 ">
            <div class="card-header" style="background-color: #8B4513;">
                <h2 class="fw-bold fs-2" style="color: #f5f5dc;">Mudança de senha solicitada!</h2>
            </div>

            <div class="card-body">
                <p> Foi encaminhado um e-mail contendo instruções para a alteração da senha da conta.</p>
                <p class="mb-0"> Caso nenhum e-mail chegue, por favor verifique se o endereço de e-mail foi informado corretamente. Caso o endereço esteja correto, por favor verifique sua lixeira e spam.</p>
            </div>
        </div>

{% endblock %}

