{% extends "login/base.html" %}

{% load widget_tweaks %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

<div class="card col-sm-10 col-lg-8 my-5 p-sm-0">

    {% if validlink %}

        <div class="card-header" style="background-color: #8B4513;">
            <h2 class="fw-bold fs-2" style="color: #f5f5dc;">Altere sua senha</h2>
            <p class="mt-0 mb-1" style="color: #f5f5dc;">Por favor, digite sua nova senha nos campos indicados abaixo.</p>
        </div>

        <form action="." method="post">
            {% csrf_token %}

            <div class="col-8 p-3 m-3">

                <!-- Campo para digitar a nova senha -->
                <div class="row g-3 align-items-center mb-4">
                    <div class="col-auto">
                        {% render_field form.new_password1 class+='form-control' placeholder="Digite sua nova senha" %}
                    </div>
                </div>

                <!-- Campo para digitar a confirmação da nova senha -->
                <div class="row g-3 align-items-center mb-4">
                    <div class="col-auto">
                       {% render_field form.new_password2 class+='form-control' placeholder="Confirme sua senha" %}
                    </div>
                </div>

                <!-- Botão para enviar a nova senha -->
                <button type="submit" class="btn" style="background-color: #8B4513; color: #f5f5dc;"> Alterar minha senha </button>

            </div>

        </form>

    {% else %}

        <div class="card-header bg-light">
            <h2 class="text-danger">Link inválido!</h2>
        </div>

        <div class="card-body">
            O link de recuperação de senha já foi utilizado ou expirou. Por favor, solicite um novo <a href="{% url 'password_reset' %}">link</a> para a recuperação da sua senha.
        </div>

    {% endif %}</div>

{% endblock %}